@import "../variables";

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;

    @include phone {
      height: 100%;
      box-sizing: border-box;
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      display: block;
      overflow-y: scroll;
    }
  }

  .phone {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .mobile-modal-header {
    position: relative;
    padding: 25px;
    box-shadow: $default-drop-shadow;
    text-align: center;

    .close {
      position: absolute;
      top: 25px;
      right: $page-padding-mobile;
      font-size: 40px;
      font-weight: 200;
      cursor: pointer;
    }
  }

  .mobile-modal-content {
    overflow-y: scroll;
    padding: 25px $page-padding-mobile;
  }
}