@import "../variables";

$swatch-size: 40px;
$swatch-content-size: 24px;
$swatch-border-size: 1px;

.swatch-container {
  margin-bottom: 10px;
}

.swatch {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: $swatch-size;
  margin-bottom: $swatch-size;
  margin-right: 10px;
  font-size: 22px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked ~ .swatch-content {
      border-color: black;

      &:after {
        display: block;
      }
    }
  }

  .swatch-content {
    position: absolute;
    top: 0;
    left: 0;
    height: $swatch-size;
    width: $swatch-size;
    background-color: transparent;
    border: $swatch-border-size solid $color-grey-3;
    border-radius: 50%;
    box-sizing: border-box;
    transition: $base-transition-duration;

    &:hover {
      border-color: $color-grey-1;
    }
  }
}

.color-swatch {
  .swatch-content {
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: ($swatch-size - $swatch-content-size) / 2 - $swatch-border-size;
      left: ($swatch-size - $swatch-content-size) / 2 - $swatch-border-size;
      width: $swatch-content-size;
      height: $swatch-content-size;
      border-radius: 50%;
      background: black;
    }
  }
}

.size-swatch {
  .swatch-content {
    text-align: center;
    line-height: $swatch-size;
    font-size: $font-size-5;
  }
}