@import "../../variables";

.addresses {
  padding-top: 30px;

  @include phone {
    padding: $page-padding-mobile;
  }

  .header {
    margin-bottom: 30px;
  }

  .address-list {
    margin-bottom: 100px;

    @include phone {
      margin-bottom: 50px;
    }

    .address {
      position: relative;
      display: inline-block;
      width: 50%;
      max-width: 160px;
      margin-right: 50px;

      @include phone {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        max-width: none;
      }

      .address-delete-form {
        position: absolute;
        right: 0;
        top: 0;

        .close {
          border: none;
          color: $color-grey-2;
          font-size: 15px;
          cursor: pointer;
          background-color: transparent;

          @include phone {
            font-weight: 200;
            font-size: 20px;
          }
        }
      }
    }
  }

  .btn {
    width: 100%;
  }
}

.address-modal {
  max-width: 450px;
  width: 100%;
  padding: 70px;

  @include phone {
    padding: 0;
  }

  .phone {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

.address-form {
  width: 100%;

  .select-container {
    width: 100%;
    margin-bottom: 20px;

    @include phone {
      margin-bottom: 10px;
    }
  }

  input {
    width: 100%;

    &[type=submit] {
      margin-top: 10px;
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;

      @include phone {
        margin-bottom: 10px;
      }
    }
  }

  .grouped-address-input {
    display: flex;
    margin-bottom: 20px;

    div:first-of-type {
      margin-right: 20px;
    }

    .half {
      width: 50%;
    }

    .large {
      width: 60%;
    }

    .small {
      width: 40%;
    }

    @include phone {
      margin-bottom: 0;
    }
  }
}