@import "../../variables";

.order {
  .order-list {
    text-align: left;
    width: 100%;

    .item-image {
      width: 50%;
      margin-right: 10px;

      img {
        width: 100%;
      }
    }

    .order-list-item {
      display: flex;
      flex-grow: 1;
    }

    .item-details {
      .body2:last-child {
        margin-bottom: 10px;
      }
    }

    @media (max-width: $mobile-width-break) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $color-grey-3;
    }
  }

  .order-item-header {
    margin-bottom: 15px;

    &.date {
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid $color-grey-3;
    }
  }

  .return {
    display: block;
    text-decoration: none;
    margin-bottom: 30px;

    @media (max-width: $mobile-width-break) {
      margin-bottom: 15px;
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;

    button:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  .purchase-summary {
    border-bottom: 1px solid $color-grey-3;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .value {
      color: $color-grey-1;
    }

    .divider {
      border-bottom: 1px solid $color-grey-3;
      margin: 20px 0;
    }
  }

  .payment-address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .item {
      .body2 {
        color: $color-grey-1;
      }

      .body3 {
        margin-bottom: 10px;
      }
    }

    .card-info {
      align-items: center;
      display: flex;
      margin-bottom: 20px;

      .payment-logo {
        margin-right: 10px;
      }
    }

    @media (max-width: $mobile-width-break) {
      flex-direction: column;

      .item {
        margin-bottom: 20px;

        &:not(:last-child) {
          padding-bottom: 20px;
          border-bottom: 1px solid $color-grey-3;
        }

        .card-info {
          margin-bottom: 10px;
        }
      }
    }
  }
}
