<div class="collection">
  <header role="banner">
    <div class="collection-image phone ratio-image square">
      <img src="{{ collection.image | img_url: '500x500' }}">
    </div>
    <div class="ratio-box r9x16 tablet-up">
      <div class="ratio-box-content">
        <iframe
          class="collection-video"
          src="https://player.vimeo.com/video/326422567?background=1&autoplay=1&loop=1"
          frameborder="0"
          allow=autoplay
          width="600"
          height="300"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="collection-info-container">
      <div class="collection-info">
        <div class="callout">SPRING 2019</div>
        <h3>{{ collection.title }}</h3>
        <div class="body2 grey">
          On a lazy Sunday morning, Gabriella does this copy is to be determined. About this length should be good.
          {% comment %} {{ collection.description }} {% endcomment %}
        </div>
        <a class="btn outline">In the making</a>
      </div>
      <div class="collection-image tablet-up">
        <img src="{{ collection.image | img_url: '500x500' }}">
      </div>
    </div>
  </header>
  <div class="product-cards">
    {% for product in collection.products %}
      {% include 'product-card' with product: product, index: forloop.index0 %}
    {% endfor %}
  </div>
</div>