<div class="collection">
  <header role="banner" class="ratio-box">
    <div class="ratio-box-content banner-content">
      <div class="collection-info">
        <div class="callout">SPRING 2019</div>
        <h3>{{ collection.title }}</h3>
        <div class="body2 grey">
          On a lazy Sunday morning, Gabriella does this copy is to be determined. About this length should be good.
          {% comment %} {{ collection.description }} {% endcomment %}
        </div>
        <a class="btn outline">In the making</a>
      </div>
      <div class="video-container">
        <div class="ratio-box r9x16">
          <div class="ratio-box-content">
            <iframe
              class="collection-video ratio-box-content"
              src="https://player.vimeo.com/video/326422567?background=1&autoplay=1&loop=1"
              frameborder="0"
              allow=autoplay
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="product-cards">
    {% for product in collection.products %}
      {% include 'product-card' with product: product, index: forloop.index0 %}
    {% endfor %}
  </div>
</div>