<div class="collection">
  <header role="banner">
    <div class="collection-image phone ratio-image square">
      <img src="{{ collection.image | img_url: '900x900' }}">
    </div>
    <div class="ratio-box r9x16 tablet-up">
      <div class="ratio-box-content">
        <iframe
          class="collection-video"
          src="{{ collection.image.alt }}"
          frameborder="0"
          allow=autoplay
          width="600"
          height="300"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="collection-info-container">
      <div class="collection-info">
        <div class="callout">SPRING 2019</div>
        <h3>{{ collection.title }}</h3>
        <div class="body2 grey">
        This collection explores the nostalgic vibes one gets while remembering tiny memories that have created a butterfly effect in your life. I named the pieces after the nicknames I’ve had in the different stages of my life. I hope you can enjoy the piece of me that resides in my memories.
        </div>
      </div>
      <div class="collection-image tablet-up">
        <img src="{{ collection.image | img_url: '900x900' }}">
      </div>
    </div>
  </header>
  <div class="product-cards">
    {% for product in collection.products %}
      {% include 'product-card' with product: product, index: forloop.index0 %}
    {% endfor %}
  </div>
</div>