<div class="email-signup-popup" id="email-signup-popup">
  <span class="close">&times;</span>
  <h3>Let's keep in touch</h3>
  <div class="email-signup">
    <form class="email-signup-form" id="email-signup-popup-form">
      <input class="underline email-signup-input body1" placeholder="Enter your email here"></input>
      <button class="btn outline" type="submit" name="submit">Sign Up</button>
    </form>
    <div class="email-signup-popup-error" id="email-signup-popup-error"></div>
  </div>
</div>