<div class="email-signup-popup" id="email-signup-popup">
  <span class="close">&times;</span>
  <h3>Let's keep in touch</h3>
  <div class="email-signup">
    <form class="email-signup-form" id="email-signup-popup-form">
      <input class="underline email-signup-input body1" placeholder="Enter your email here"></input>
      <input class="btn outline" placeholder="Sign Up" name="submit">
    </form>
  </div>
</div>