{%- comment -%}
  Featured Product

  Accepts
  - product
  - index: Index of the product in the collection list
{%- endcomment -%}

<div class="featured-product">
  <div class="body1">{{ product.title }}</div>
  <div class="body2 grey">
    A classic cami - updated in Clean Silk.
  </div>
  <div class="featured-product-content">
  </div>
</div>