<div class="modal" id="size-guide-modal">
  <div class="modal-content size-guide-modal">
    <div class="tablet-up">
      <span class="close modal-close">&times;</span>
      {% include 'size-guide-table' %}
    </div>
    <div class="phone">
      <div class="mobile-modal-header">
        <span class="close modal-close">&times;</span>
        <div class="body1">Size Guide</div>
      </div>
      <div class="mobile-modal-content">
        {% include 'size-guide-table' %}
      </div>
    </div>
  </div>
</div>