@import "../variables";

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-placeholder {
  display: block;
  width: 100%;
  height: 0;
}

footer {
  background-color: black;
  color: white;

  .footer-content {
    max-width: $max-content-width;
    margin: auto;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-width-break) {
      flex-direction: column;
    }
  }

  .footer-follow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $mobile-width-break) {
      width: 100%;
      align-items: center;
      text-align: center;
      margin-bottom: 35px;
    }
  }

  .column-header {
    margin-bottom: 20px;
  }

  .footer-legal {
    font-size: 13px;
    line-height: 20px;
  }

  .footer-subscribe {
    width: 400px;
    flex-shrink: 0;

    @media (max-width: $mobile-width-break) {
      width: 100%;
      text-align: center;
    }

    .footer-subscribe-error {
      margin-bottom: 35px;
    }

    .subscribe-input {
      border-bottom: 1px solid white;
      position: relative;
      margin-bottom: 10px;

      input {
        padding-left: 0;
        width: 100%;
        font-weight: $font-weight-light;
      }

      .subscribe-button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        .img {
          border: none;
          width: 20px;
          padding: 0;
        }
      }
    }

    h3 {
      margin-bottom: 25px;
    }
  }

  .mobile-legal {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100px;
      margin-bottom: 20px;
    }
  }

  .footer-links {
    @media (max-width: $mobile-width-break) {
      text-align: center;
      margin-bottom: 35px;
    }

    li {
      margin-bottom: 10px;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social-icons {
    .social-icon {
      margin-right: 10px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.15px;
    font-weight: $font-weight-regular;
  }
}