@import "../variables";

.full-screen-image {
  margin-bottom: 10px;

  @media (max-width: $mobile-width-break) {
    margin-bottom: 5px;
  }
}

.full-screen-split-image {
  margin-bottom: 10px;

  @media (max-width: $mobile-width-break) {
    margin-bottom: 5px;
  }

  .ratio-box-content {
    display: flex;

    div {
      &:not(:last-child) {
        margin-right: 10px;

        @media (max-width: $mobile-width-break) {
          margin-right: 5px;
        }
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.full-screen-quote {
  .quote-box-content {
    box-sizing: border-box;
    padding: 50px;
  }
}