@import "../variables";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .header-content {
    max-width: $max-screen-width;
    margin: auto;
  }
}

.announcement-bar {
  background-color: $color-blue;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}