@import "../variables";

.header-container {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;

  .header {
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  }
}

.announcement-bar {
  background-color: $color-blue;
  text-align: center;
  padding: 15px;
  position: relative;
}

.header-content,
.announcement-bar-content {
  max-width: $max-screen-width;
  margin: auto;
}

.header-content {
  background-color: white;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;

  .logo {
    display: block;
  }

  .action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:first-of-type {
      left: 25px;
    }

    &:last-of-type {
      right: 25px;
    }
  }

  .user-actions {
    $cart-icon-size: 25px;

    display: flex;

    .cart-icon {
      position: relative;

      .cart-amount {
        $cart-amount-size: 18px;

        background-color: $color-yellow;
        border-radius: 50%;
        width: $cart-amount-size;
        height: $cart-amount-size;
        line-height: $cart-amount-size;
        font-size: 10px;
        font-weight: $font-weight-bold;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-($cart-icon-size / 2 - $cart-amount-size / 2), $cart-amount-size / 2);
      }
    }

    .icon-button {
      margin-left: 20px;
    }

    img {
      width: $cart-icon-size;
      height: $cart-icon-size;
      object-fit: contain;
    }
  }
}

.announcement-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;

  .callout.desktop {
    margin-right: 10px;
  }

  a {
    font-size: 11px;
  }
}