@import "../variables";

.main-collection-grid {
  display: flex;
  width: 100%;

  .left,
  .right {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .left {
    margin-right: 10px;
  }

  .ratio-image {
    margin-bottom: 10px;
  }

  .quote-box-content {
    position: relative;
    text-align: center;

    .star {
      height: 23px;
      width: 23px;
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }

    .view-collection {
      position: absolute;
      bottom: 30px;
      text-align: center;
    }
  }
}
