@import "../variables";

.product-container {
  padding-bottom: 100px;
  margin-bottom: 50px;
  border-bottom: 1px solid $color-grey-3;

  @include phone {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.product {
  display: flex;

  .size-guide-button {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    img {
      width: 10px;
      object-fit: contain;
      margin-right: 10px;
    }

    .body3 {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .breadcrumb {
    padding: $page-padding-mobile;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0;

    .collections {
      margin-bottom: 25px;
    }
  }

  .see-how-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    @include phone {
      flex-direction: column;
      align-items: initial;
    }

    .body2 {
      margin-bottom: 15px;
      color: black;
    }

    button {
      padding: 15px;
    }
  }

  .product-images {
    margin-right: 25px;
    flex: 1;

    .ratio-image {
      margin-bottom: 10px;
    }

    @include phone {
      max-width: none;
    }

    .product-image-slider {
      .slick-dots {
        bottom: 25px;
      }

      .mobile-product-video {
        display: none;
      }
    }
  }

  .product-details {
    width: 100%;
    max-width: 260px;
    flex-shrink: 0;
    box-sizing: border-box;
    will-change: min-height;

    .title {
      margin-bottom: 10px;
    }

    .callout {
      margin-bottom: 30px;
    }

    .price {
      margin-bottom: 30px;
    }

    .divider {
      border: 1px solid $color-grey-3;
      margin-bottom: 15px;
    }

    .select-label {
      color: $color-grey-1;
      margin-bottom: 15px;
    }

    .quantity {
      margin-bottom: 15px;
    }

    .product-description {
      padding-bottom: 20px;

      .callout {
        color: black;
      }
    }

    form {
      margin-bottom: 20px;
    }
  }

  .add-to-cart {
    width: 100%;
  }

  @include phone {
    flex-direction: column;

    .product-images {
      margin-bottom: 20px;
      width: 100%;
    }

    .product-details {
      padding: $page-padding-mobile;

      .callout {
        margin-bottom: 10px;
      }
    }
  }
}

.other-products {
  @include phone {
    padding: $page-padding-mobile;
  }

  h3 {
    margin-bottom: 30px
  }

  .other-product-item-list {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    @include phone {
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
  }
}