@import "../variables";

.sidebar {
  width: 250px;
  margin-right: 40px;
  margin-top: 30px;
  will-change: min-height;
  
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 25px;
  }

  .new-collection {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    a {
      margin-bottom: 0;
      margin-right: 5px;
    }

    img {
      width: 15px;
      height: 15px;
      object-fit: contain;
    }
  }

  .child-link {
    font-size: $font-size-5;
    font-weight: $font-weight-regular;
    letter-spacing: 0.2px;
    color: $color-grey-1;
  }

  .sidebar-header {
    margin-bottom: 25px;
  }

  .selected {
    text-decoration: underline;
    color: black;
  }
}