// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

.hide {
  display: none;
}

.errors {
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: red;
  }
}