@import "./variables";

$small-content-width: 450px;
$medium-content-width: 735px;

.content {
  display: flex;
  max-width: $max-content-width;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: $page-padding-desktop;
  margin-bottom: 100px;

  @media(max-width: $mobile-width-break) {
    padding: $page-padding-mobile;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

.content-small {
  width: 100%;
  max-width: $small-content-width;
}

.layout-small {
  width: 100%;
  max-width: $small-content-width;
  margin: auto;
}

.content-medium {
  width: 100%;
  max-width: $medium-content-width;
  margin: auto;
}

.desktop {
  @media (max-width: $mobile-width-break) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: $mobile-width-break + 1) {
    display: none !important;
  }
}