@import "./variables";

$small-content-width: 450px;
$medium-content-width: 735px;

.content-container {
  max-width: $max-content-width;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: $page-padding-desktop;
  margin-bottom: 100px;

  @include phone {
    padding: $page-padding-mobile;
    padding-top: 20px;
    margin-bottom: 40px;
  }
}

.content {
  display: flex;

  .sidebar__inner {
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }
}

.content-small {
  width: 100%;
  max-width: $small-content-width;
}

.layout-small {
  width: 100%;
  max-width: $small-content-width;
  margin: auto;
}

.content-medium {
  width: 100%;
  max-width: $medium-content-width;
  margin: auto;
}

// .desktop {
//   @media (max-width: $mobile-width-break) {
//     display: none !important;
//   }
// }

.desktop {
  @media (max-width: $desktop-width-break) {
    display: none !important;
  }
}

.tablet-up {
  @media (max-width: $phone-width-break) {
    display: none !important;
  }
}

.table-only {
  @media (min-width: $phone-width-break + 1), (max-width: $phone-width-break) {
    display: none !important;
  }
}

.mobile {
  @media (min-width: $desktop-width-break + 1) {
    display: none !important;
  }
}

.phone {
  @media (min-width: $phone-width-break + 1) {
    display: none !important;
  }
}

.main-content {
  @include phone {
    width: calc(100% + 30px);
    margin: -15px;
  }
}