@charset 'UTF-8';

@import './helper';
@import './layouts';
@import './variables';
@import './typography';

// Components
@import './components/button';
@import './components/checkbox';
@import './components/icon';
@import './components/image';
@import './components/input';
@import './components/item-table';
@import './components/modal';
@import './components/select';
@import './components/slider';
@import './components/swatch';
@import './components/switch';

// Snippets
@import './snippets/menu-cart';
@import './snippets/payment-logo';
@import './snippets/product-card';

// Folders
@import "./sections/index";
@import "./templates/index";

// Libraries
@import './libraries/slick';

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
}

#preview-bar-iframe {
  display: none !important;
}