@charset 'UTF-8';

@import './helper';
@import './variables';
@import './typography';

// Components
@import './components/button';
@import './components/icon';
@import './components/input';
@import './components/select';
@import './components/swatch';
@import './components/switch';

// Sections
@import './sections/footer';
@import './sections/header';
@import './sections/product';
@import './sections/sidebar';
@import './sections/sidebar-nav.scss';

// Templates
@import './templates/cart';

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
}

.content {
  display: flex;
  max-width: $max-screen-width;
  margin: auto;
  padding: 40px;
}

iframe {
  display: none;
}