@import "./variables";

/* Base Styles */
html,
body,
input,
div,
span,
button {
  font-family: Campton, Helvetica, sans-serif;
}

html {
  letter-spacing: 0.2px;
  font-size: $font-size-5;
  font-weight: $font-weight-regular;
  line-height: $line-height-5;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: $font-size-1;
  font-weight: $font-weight-bold;
}
h2 {
  font-size: $font-size-2;
  font-weight: $font-weight-bold;
}
h3 {
  font-size: $font-size-3;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.25px;
}

.body1 {
  font-size: $font-size-4;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.25px;
}

.body2 {
  font-size: $font-size-5;
  font-weight: $font-weight-regular;
  line-height: $line-height-5;
  letter-spacing: 0.2px;
}

.body3  {
  font-size: $font-size-6;
  font-weight: $font-weight-regular;
  letter-spacing: 0.15px;
}

.callout {
  font-size: $font-size-6;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.regular {
  font-weight: $font-weight-regular;
}

a {
  font-size: $font-size-6;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-decoration: underline;
  cursor: pointer;
  color: black;

  &.no-underline {
    text-decoration: none;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.body1,
.body2,
.body3 {
  &.active {
    color: black;
  }

  &.grey {
    color: $color-grey-1;
  }
}