@import "./variables";

/* Base Styles */
html,
body,
input,
div,
span,
button {
  font-family: Campton, Helvetica, sans-serif;
}

html {
  letter-spacing: 0.2px;
  font-size: $font-size-5;
  font-weight: $font-weight-regular;
  line-height: $line-height-5;

  @media (max-width: $mobile-width-break) {
    font-size: $mobile-font-size-5;
  }
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: $font-size-1;
  font-weight: $font-weight-bold;
  line-height: $line-height-1;
}
h2 {
  font-size: $font-size-2;
  font-weight: $font-weight-bold;
  line-height: $line-height-2;
}
h3 {
  font-size: $font-size-3;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.25px;
  line-height: $line-height-3;
}

.body1 {
  font-size: $font-size-4;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.25px;
  line-height: $line-height-4;
}

.body2 {
  font-size: $font-size-5;
  font-weight: $font-weight-regular;
  line-height: $line-height-5;
  letter-spacing: 0.2px;
}

.body3  {
  font-size: $font-size-6;
  font-weight: $font-weight-regular;
  letter-spacing: 0.15px;
  line-height: $line-height-6;
}

.callout {
  font-size: $font-size-6;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.semibold {
  font-weight: $font-weight-semibold;
}

.regular {
  font-weight: $font-weight-regular;
}

.breadcrumb {
  font-size: $font-size-6;
  font-weight: $font-weight-regular;
  letter-spacing: 0.15px;
  color: $color-grey-1;
}

a {
  font-size: $font-size-6;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-decoration: underline;
  cursor: pointer;
  color: black;

  &.no-underline {
    text-decoration: none;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.error {
  color: $color-red;
}

.success {
  color: $color-green;
}

.body1,
.body2,
.body3 {
  &.active {
    color: black;
  }

  &.grey {
    color: $color-grey-1;
  }
}

@media (max-width: $mobile-width-break) {
  html {
    font-size: $mobile-font-size-5;
  }

  h1 {
    font-size: $mobile-font-size-1;
  }

  h2 {
    font-size: $mobile-font-size-2;
  }

  h3 {
    font-size: $mobile-font-size-3;
  }

  .body1 {
    font-size: $mobile-font-size-4;
  }

  .body2 {
    font-size: $mobile-font-size-5;
  }

  .body3 {
    font-size: $mobile-font-size-6;
  }

  .breadcrumb {
    font-size: $mobile-font-size-6;
    line-height: $mobile-font-size-6;
    margin-bottom: 20px;
  }
}