$color-blue: #caf2fc;
$color-dark-blue: #b0dded;
$color-yellow: #fffc92;
$color-purple: #cfb0ff;
$color-red: #ed5a4f;
$color-green: #9cffe9;

$color-grey-1: #9b9b9b;
$color-grey-2: #c6c6c6;
$color-grey-3: #d8d8d8;
$color-grey-4: #e7e9ec;

$base-padding: 10px;

$max-screen-width: 1195px;
