// Fonts
$font-size-h1: 20px;


// Colors
$color-blue: #caf2fc;
$color-dark-blue: #b0dded;
$color-yellow: #fffc92;
$color-purple: #cfb0ff;
$color-red: #ed5a4f;
$color-green: #9cffe9;

$color-grey-1: #9b9b9b;
$color-grey-2: #c6c6c6;
$color-grey-3: #e7e9ec;


// Spacing
$base-padding: 10px;


// Sizing
$max-screen-width: 1120px;
