@import "../variables";

.cart {
  padding-bottom: 50px;

  .update-subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input {
      border: none;
      text-decoration: underline;
      cursor: pointer;
      padding: 0;
      color: $color-grey-1;
    }
  }

  .cart-disclaimer {
    color: $color-grey-1;
  }

  .shipping-tax-disclaimer {
    color: $color-grey-1;
    margin-bottom: 50px;
  }

  .cart-action {
    display: flex;
    margin-bottom: 15px;

    .btn {
      width: 50%;
    }

    .outline {
      margin-right: 25px;
    }
  }

  .cart-table {
    td:not(:last-of-type) {
      border-bottom: 1px solid $color-grey-3;
    }
  }
}