@import "../variables";

.cart {
  box-sizing: border-box;
  padding-bottom: 50px;

  @include phone {
    padding: $page-padding-mobile;
  }

  .cart-empty {
    min-height: 300px;

    h2 {
      margin-bottom: 50px;

      @include phone {
        margin-bottom: 20px;
      }
    }

    .btn {
      display: inline-block;
    }
  }

  .update-subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input {
      border: none;
      text-decoration: underline;
      background-color: transparent;
      cursor: pointer;
      padding: 0;
      color: $color-grey-1;
    }
  }

  .cart-disclaimer {
    color: $color-grey-1;
  }

  .shipping-tax-disclaimer {
    color: $color-grey-1;
    margin-bottom: 50px;
  }

  .cart-action {
    display: flex;
    margin-bottom: 15px;

    .btn {
      width: 50%;
    }

    .outline {
      margin-right: 25px;
    }

    @include phone {
      flex-direction: column;

      .btn {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .cart-table {
    td {
      border-bottom: 1px solid $color-grey-3;
    }

    .quantity {
      input {
        margin-bottom: 10px;
      }

      .cart-remove-desktop {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.cart-content {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid $color-grey-3;

  .cart-item-img {
    width: 50%;
    flex-shrink: 0;
    margin-right: 15px;

    img {
      width: 100%;
    }
  }

  .cart-item-content {
    width: 100%;
    position: relative;

    .title {
      margin-bottom: 5px;
    }

    .price {
      margin-bottom: 10px;
    }

    .variant {
      color: $color-grey-1;
    }

    .cart-remove {
      position: absolute;
      cursor: pointer;
      right: 0;
      font-weight: $font-weight-light;
      font-size: 25px;
    }

    .quantity-selector {
      display: flex;
      margin-bottom: 5px;

      .cart-quantity-btn {
        cursor: pointer;
        color: $color-grey-1;
      }

      *:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
