@import "../variables";

.collection {
  $collection-banner-height-ratio: 9;
  $collection-banner-width-ratio: 16;
  width: 100%;

  header {
    margin-bottom: 50px;
    padding-top: calc(#{$collection-banner-height-ratio / ($collection-banner-height-ratio + $collection-banner-width-ratio)} * 100%);

    .banner-content {
      display: flex;
    }

    .collection-info {
      padding: 70px 35px;
      background-color: #F8F8F8;
      width: calc(#{$collection-banner-height-ratio / ($collection-banner-height-ratio + $collection-banner-width-ratio)} * 100%);

      .callout {
        margin-bottom: 15px;
      }
    }

    .video-container {
      width: 100%;
      height: 100%;
      padding-top: 0;
      display: flex;
      align-items: center;
    }

    .collection-video {
      width: 100%;
      height: 100%;
    }
  }

  .collection-products {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    @media (max-width: $mobile-width-break) {
      grid-gap: 15px;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
  }

  .product-cards {
    padding: 15px;
  }
}