@import "../variables";

.collection {
  $collection-banner-height-ratio: 9;
  $collection-banner-width-ratio: 16;
  width: 100%;
  margin-top: -$page-padding-desktop;

  @media (max-width: $mobile-width-break) {
    margin-top: 0;
  }

  .collection-image {
    width: 100%;

    img {
      display: block;
      width: 100%;
    }

    &.tablet-up img {
      height: 100%;
      object-fit: cover;
    }
  }

  header {
    margin-bottom: 50px;

    .banner-content {
      display: flex;
    }

    .collection-info-container {
      display: flex;
      width: 100%;
    }

    .collection-info {
      padding: 70px 35px;
      background-color: #F8F8F8;

      @include phone {
        padding: 30px 25px;
      }

      h3 {
        margin-bottom: 20px;
      }

      .body2 {
        margin-bottom: 15px;
      }

      .callout {
        margin-bottom: 15px;
      }
    }

    .collection-video {
      width: 100%;
      height: 100%;
    }
  }

  .product-cards {
    padding: $page-padding-mobile;
  }
}