<div class="reset-password auth-form">
  <h3 class="auth-header">{{ 'customer.recover_password' | t }}</h3>
  {% form 'reset_customer_password' %}
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="form-input {% if form.errors contains 'password' %}error{% endif %}"
      placeholder="{{ 'customer.password' | t }}">

    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="form-input {% if form.errors contains 'password_confirmation' %}error{% endif %}"
      placeholder="{{ 'customer.password_confirm' | t }}">

    <input type="submit" class="btn large" value="{{ 'customer.submit' | t }}">
  {% endform %}
</div>