<section class="featured-social-images">
  <img src="{{ social_content_img1 }}">
</section>

{% schema %}
  {
    "name": "Featured Social Images",
    "settings": [
      {
        "type": "image_picker",
        "id": "social_content_img1",
        "label": "Image 1"
      },
      {
        "type": "text",
        "id": "social_handle1",
        "label": "Instagram Handle 1"
      },
      {
        "type": "text",
        "id": "social_link1",
        "label": "Instagram Url 1"
      },
      {
        "type": "image_picker",
        "id": "social_content_img2",
        "label": "Image 2"
      },
      {
        "type": "text",
        "id": "social_handle2",
        "label": "Instagram Handle 2"
      },
      {
        "type": "text",
        "id": "social_link2",
        "label": "Instagram Url 2"
      },
      {
        "type": "image_picker",
        "id": "social_content_img3",
        "label": "Image 3"
      },
      {
        "type": "text",
        "id": "social_handle3",
        "label": "Instagram Handle 3"
      },
      {
        "type": "text",
        "id": "social_link3",
        "label": "Instagram Url 3"
      }
    ],
    "presets": [
      {
        "name": "Featured Social Images",
        "category": "Custom Content"
      }
    ]
  }
{% endschema %}