<section class="social-content">
  <img src="{{ social_content_img1 }}">
</section>

{% schema %}
  {
    "name": "Social Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "social_content_img1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "social_content_img2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "social_content_img3",
        "label": "Image 3"
      }
    ],
    "presets": [
      {
        "name": "Social Content",
        "category": "Custom Content"
      }
    ]
  }
{% endschema %}