@import "../variables";

.menu-cart {
  display: flex;
  flex-direction: column;

  .cart-item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $color-grey-3;

    .cart-item-img {
      width: 50%;
      flex-shrink: 0;
      margin-right: 15px;
    }

    .cart-item-content {
      width: 100%;
      position: relative;

      .title {
        margin-bottom: 5px;
      }

      .price {
        margin-bottom: 10px;
      }

      .variant {
        color: $color-grey-1;
      }

      .cart-remove {
        position: absolute;
        cursor: pointer;
        right: 0;
        font-weight: $font-weight-light;
        font-size: 25px;
      }

      .quantity-selector {
        display: flex;
        margin-bottom: 5px;

        .cart-quantity-btn {
          cursor: pointer;
          color: $color-grey-1;
        }

        *:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }

  .subtotal {
    display: flex;
    justify-content: space-between;

    &.desktop {
      margin-top: 20px;
    }

    &.mobile {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $mobile-width-break) {
    .cart-item {
      border: none;
      padding: 0;
      margin-bottom: 15px;
    }
  }
}