@import "../variables";

.size-guide-modal {
  max-width: 820px;
  width: 100%;
  padding: $page-padding-desktop;

  @include phone {
    padding: 0;
  }
  .tablet-up,
  .phone {
    width: 100%;
    margin: auto;
  }

  .disclaimer {
    text-align: center;
  }

  .size-guide-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;

    @include phone {
      width: 30px;
      height: 30px;
    }
  }

  .size-guide-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .phone {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .size-unit {
    margin-bottom: 10px;
  }

  .close {
    position: absolute;
    top: $page-padding-desktop / 2;
    right: $page-padding-desktop / 2;
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
  }

  .size-guide {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    th {
      &.body1 {
        text-align: left;
      }
    }

    td,
    th {
      padding: 10px 0;
      border-bottom: 1px solid $color-grey-3;

      &:not(:first-child) {
        text-align: center;
      }
    }
  }
}